{% extends "base.html" %}

{% block title %}{{ algorithm.name }}{% endblock %}

{% block content %}
<div class="wide-container">
    <div class="content-area">
        <h1 class="project-name">{{ algorithm.name }}</h1>
        <p class="project-description">{{ algorithm.description|safe }}</p>

        <div class="button-container">
            <button class='algo-button' onclick="location.href='{{ url_for('form_page', algorithm=algorithm.route) }}'">Go to Form Page</button>
            <p>OR</p>
            <button class="algo-button" onclick="location.href='{{ url_for('future_feature', algorithm=algorithm.route) }}'">Go to Options Page</button>
        </div>
    </div>
</div>
{% endblock %}
