{% extends "base.html" %}

{% block title %}{{ algorithm.name }}{% endblock %}

{% block content %}
<div class="wide-container algorithm-page">
    <div class="content-area algorithm-content">
        <h1 class="algorithm-name">{{ algorithm.name }}</h1>
        <p class="algorithm-description">{{ algorithm.description|safe }}</p>

        <div class="button-container">
            <button class='algo-button' onclick="location.href='{{ url_for('form_page', algorithm=algorithm.route) }}'">Go to Form Page</button>
            <p>OR</p>
            <button class="algo-button" onclick="redirectToOptions('{{ algorithm.route }}')">Random Instance Generator</button>
        </div>
    </div>
</div>

<script>
function redirectToOptions(algorithmRoute) {
    if (algorithmRoute === 'algorithm1') {
        location.href = "{{ url_for('generate_instance', algorithm='algorithm1') }}";
    } else if (algorithmRoute === 'algorithm2') {
        location.href = "{{ url_for('generate_instance', algorithm='algorithm2') }}";
    } else if (algorithmRoute === 'algorithm3') {
        location.href = "{{ url_for('generate_instance', algorithm='algorithm3') }}";
    } else if (algorithmRoute === 'algorithm4') {
        location.href = "{{ url_for('generate_instance', algorithm='algorithm4') }}";
    } else if (algorithmRoute === 'algorithm5') {
        location.href = "{{ url_for('generate_instance', algorithm='algorithm5') }}";
    } else {
        alert('No options page available for this algorithm.');
    }
}
</script>
{% endblock %}
