{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="project-name">On Fair Division under Heterogeneous Matroid Constraints</h1>
    <p class="project-description">This project showcases several algorithms which focus on achieving fair envy-free allocations amongst Heterogeneous agents with different capacities and preferences.</p>
    <div class="audio-player">
        <audio id="background-music" controls loop>
            <source src="{{ url_for('static', filename='music/tenderness.mp3') }}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        
    </div>
    <div class="button-container">
        <button class="algo-button" onclick="location.href='/algorithm1'">Algorithm 1</button>
        <button class="algo-button" onclick="location.href='/algorithm2'">Algorithm 2</button>
        <button class="algo-button" onclick="location.href='/algorithm3'">Algorithm 3</button>
        <button class="algo-button" onclick="location.href='/algorithm4'">Algorithm 4</button>
        <button class="algo-button" onclick="location.href='/algorithm5'">Algorithm 5</button>
    </div>
</div>

</div>

<style>
    #play-button, #mute-button {
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const audio = document.getElementById("background-music");
        const playButton = document.getElementById("play-button");
        const muteButton = document.getElementById("mute-button");

        playButton.addEventListener("click", function() {
            audio.play();
            playButton.style.display = 'none';
            muteButton.style.display = 'inline';
        });

        muteButton.addEventListener("click", function() {
            if (audio.muted) {
                audio.muted = false;
                muteButton.textContent = "Mute";
            } else {
                audio.muted = true;
                muteButton.textContent = "Unmute";
            }
        });
    });
</script>
{% endblock %}
