{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="project-name">On Fair Division under Heterogeneous Matroid Constraints</h1>
    <p class="project-description">This project showcases several algorithms which focus on achieving fair envy-free allocations amongst Heterogeneous agents with different capacities and preferences.</p>
    <div class="button-container">
        <button class="algo-button" onclick="location.href='/algorithm1'">Algorithm 1</button>
        <button class="algo-button" onclick="location.href='/algorithm2'">Algorithm 2</button>
        <button class="algo-button" onclick="location.href='/algorithm3'">Algorithm 3</button>
        <button class="algo-button" onclick="location.href='/algorithm4'">Algorithm 4</button>
        <button class="algo-button" onclick="location.href='/algorithm5'">Algorithm 5</button>
    </div>
</div>
{% endblock %}
