blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cvxpy-base==1.5.2
cycler==0.12.1
experiments_csv==0.5.5
fairpyx @ git+https://github.com/Abodi-Massarwa/fairpyx.git@d20006bff9acc631418935fc34d007925d19a4cb
Flask==3.0.3
Flask-WTF==1.2.1
fonttools==4.53.1
google-auth==2.32.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
mip==1.15.0
networkx==3.3
networkz==1.0.6
numpy==1.26.4
oauthlib==3.2.2
packaging==24.1
pandas==2.2.2
pillow==10.4.0
prtpy==0.8.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.14.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
WTForms==3.1.2
